<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>上传文件</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">
</head>
<body>
    <form method="post" action="/polls/upload_file/" enctype="multipart/form-data">
    {% csrf_token %}
       <label> 上传文件 </label>
       <input type="file" name="myfile" />
       <br/>
       <!-- <input type="submit" id="submit" value="upload"/> -->
       <button type="button" id="upload">提交</button>
       <p>result</p> 
       <p><span id='result'></span></p> 
    </form>

    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>  
    <script>  
        $(document).ready(function(){  
            $("#upload").click(function(){
                mytime = setInterval(function(){
                    $.get("/polls/get_txt/", {}, function(ret){  
                        $('#result').html(ret)
                    }) 
                }, 500)
            });  
        });  
    </script> 
    
</body>
</html>